<div class="col-md-2 col-xs-2"> </div>
<div class="col-md-8 col-xs-8 nameholder text-center">
  <h2>Give our Bmi Calculator a go!</h2>
  <p>Changing the values here doesn't effect your details</p>

  <div class="row">
    

    <div class="col-md-8 col-xs-8 text-center" style="margin-left: 6em">
      <h2>BMI Calculator</h2>
      <h3>Enter Your Weight</h3>
    </div>
  </div>

  <form class="form-horizontal" name="convert">
    <div class="row">
      <div class="col-md-4 col-xs-4">

        <label class="control-label col-sm-6" for="stone">Stone</label>
        <input [(ngModel)]="stone" name="stone" (keyup)="LBToKG()" class="form-control" placeholder="Enter a number">
      </div>
      <div class="col-md-4 col-xs-4">

        <label class="control-label col-sm-4" for="pounds">Pounds</label>
        <input [(ngModel)]="pounds" name="pounds" (keyup)="LBToKG()" class="form-control" placeholder="Enter a number">
      </div>
      <div class="col-md-4 col-xs-4">

        <label class="control-label col-sm-4" for="kilo">Kilograms</label>
        <input [(ngModel)]="kilo" name="kilo" (keyup)="KGToLB()" class="form-control" placeholder="Enter a number">
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-xs-8 text-center" style="margin-left: 6em">
        <h3>Enter Your Height</h3>
      </div>
      <div class="col-md-4 col-xs-4"> </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-xs-4">

        <label class="control-label col-sm-4 text-center" for="feet">Feet</label>
        <input [(ngModel)]="feet" name="feet" (keyup)="FeetAndInchToMeter()" class="form-control" placeholder="Enter a number">
      </div>
      <div class="col-md-4 col-xs-4">

        <label class="control-label col-sm-4" for="inches">Inches</label>
        <input [(ngModel)]="inches" name="inches" (keyup)="FeetAndInchToMeter()" class="form-control" placeholder="Enter a number">
      </div>
      <div class="col-md-4 col-xs-4">

        <label class="control-label col-sm-4" for="meters">Meters</label>
        <input [(ngModel)]="meters" name="meters" (keyup)="MeterToInchAndFeet()" class="form-control" placeholder="Enter a number">
      </div>

    </div>
    <div class="row somepadding">
      <div class="col-sm-4"> </div>
      <div class="col-sm-4">
        <button class="btn btn-primary center-block" style="margin-top: 20px; margin-bottom: 20px;" (click)="show = !show" (click)="bmiCalc()">Calculate BMI</button>
      </div>
      <div class="col-sm-4"> </div>
    </div>
  </form>

  <div class="row">
    <div class="col-sm-12 text-center">
      <p>Enter your weight in stone/pounds or kilograms and your height in feet/inches or meters</p>
    </div>
  </div>
  <div class="row">
    <div *ngIf="show" class="col-sm-12">

      <strong>Result:</strong>
    </div>
  </div>
  <div class="row">

    <div class="text-center bmi-holder">
      <h2>{{bmiString}}</h2>
      <h2 [style.color]="isNormal() ? 'green':'red'">{{range}}</h2>
    </div>

    <!--todo: AddToCalendarButton-->
  </div>
  <div class="row">
    <div *ngIf="showbmi">
      <button class="btn btn-info center-block" style="margin-bottom: 20px;" (click)="showbmi = !showbmi">Hide BMI Chart</button>
      <div class="col-md-12 imagestyle">
        <img src="https://bmicalculator.mes.fm/img/bmi-chart.png">
      </div>
    </div>

    <div *ngIf="!showbmi">
      <button class="btn btn-info center-block" style="margin-bottom: 20px;" (click)="showbmi = !showbmi">Show BMI Chart</button>
    </div>

    <br><br>

  </div>

</div>



<!--NAME HOLDER END -->